.card {
    width: 100%;
    margin-bottom: 8px;
    transition: 0.5s;
}

.desc p:last-child{
    font-size: 16px;
    word-wrap: break-word;
}

.edit {
    position: absolute;
    top: 24px;
    font-size: 20px;
    right: 64px;
    color: rgba(0,0,0, 0.4);
    transition: 0.4s;
}

.close {
    position: absolute;
    top: 22px;
    font-size: 26px;
    right: 24px;
    color: rgba(0,0,0, 0.4);
    transition: 0.4s;
}

.close:hover, .edit:hover {
    color: rgba(0,0,0, 0.8);
    transition: 0.4s;
    cursor: pointer;
}

.ant-card:hover {
    cursor: default;
}

@media all and (max-width: 768px){
    .desc {
        margin-top: 20px;
    }

    .price p:first-child{
        margin-bottom: 6px;
    }
}