.add-btn, .sort, .filter {
    width: 100%;
}

.add-btn {
    margin-bottom: -5px;
}

.total-amount {
    width: 30%;
    position: absolute;
    top: 40px;
    right: -40%;
}

@media all and (max-width: 992px){
    .total-amount {
        position: static;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
}